.blurry-carousel-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.blurry-carousel-wrapper:before,
.blurry-carousel-wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 50px; /* Adjust the width of the blurred area */
  height: 100%;
  background: linear-gradient(to left, rgba(255,255,255,0), rgba(255,255,255,1) 50%);
  z-index: 1;
}

.blurry-carousel-wrapper:before {
  left: 0;
}

.blurry-carousel-wrapper:after {
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 50%);
}
